@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #FFFFFF;
  margin: 0 0 0 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 50% 40% 10%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-image: url(../images/event-1-details.svg);
  background-size: 110%;
  grid-area: header;
}

.details-header-button-back {
  height: 11%;
  margin: 8.72% auto auto 5.645%;
  z-index: 3;
}

.details-header-options-button {
  height: 1.6%;
  margin: 11.65% 5.645% auto auto;
  z-index: 3;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  gap: 28px;
  grid-area: main;
}

.card-info-event-main {
  width: 88.71%;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  align-items: justified;
  justify-content: center;
  white-space: nowrap;
  position: relative;

  top: -24.5%;

  z-index: 3;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 5%;
}

.card-internal-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.725%;
  height: auto;
}

.tittle-card-info-event-purple {
  color: #761CBC;
}

.card-info-event-main div.card-internal-info-row img.icon-details-event {
  height: 100%;
  align-items: center;
  margin-bottom: 0;
  margin-right: 1%;
}

.card-info-event-main div.card-internal-info-row p {
  font-size: 0.75rem;
}

.img-group-card {
  margin-top: 1.775%;
}

.main-image-group {
  margin-right: 2.7%;
}

.details-main-description {
  width: 88.71%;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  align-items: justified;
  justify-content: center;
  white-space: normal;
  position: relative;

  top: -24.5%;
  box-sizing: border-box;
  z-index: 3;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0;
}

.main-description-description {
  gap: 8px;
  max-width: 90%;
}

.main-description-description p {
  color: #706D6D;
  margin: 0;
}

.Extra-Content {
  color: #0092FC;
  cursor: pointer;
}

.main-description-location {
  gap: 12px;
  height: auto;
}

.map {
  width: 100%;
  height: 100%;
  margin-bottom: 22%;
  border-radius: 12px;
}

.footer {
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8.885vh;
  z-index: 3;
  background-color: #FFFFFF;
  grid-area: footer;
}

.footer-info {
  width: 100%;
  justify-content: space-between;
  margin: 0 3.42% 0 3.42%;
}

:root {
  --ratio: 3.74;
  --cta-color: #761CBC;
  --light-color-bg: #eef1f7;
  --dark-color-bg: #374151;
  --grey-color: #6b7280;
  --leading: 0.025em;
}

h1,
h2 {
  margin: 0;
}

main {
  width: auto;
  max-width: 100vw;
  margin: 0 auto;
}

.button-buy-ft {
  margin: 0 3.42% 0 3.42%;
}

button {
  display: block;
  margin-top: 2rem;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: 20px;
  border: none;
  letter-spacing: ccalc(3 * var(--leading, 0.025em));
  font-family: inherit;
  color: var(--grey-color);
  background-color: var(--light-color-bg);
  font-size: large;
  font-weight: 700;
  white-space: nowrap;
  padding-left: 10%;
  padding-right: 10%;
}

.buttonBuy {
  background-color: #761CBC;
  color: #ffffff;
  margin-left: 10%;
}

button:focus {
  outline: none;
  border: 0.0625rem solid transparent;
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
}

button.cta {
  background-color: var(--cta-color);
  color: white;
}

button.cta:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
}

#open_dialog {
  margin: 0 3.42% 0 3.42%;
}

dialog {
  border: none !important;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px #00000040;
  padding: 1.6rem;
  max-width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

dialog img {
  display: block;
  max-width: 80%;
  margin: 1rem auto;
}

div.button_buy_-text-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  width: 85%;
  margin: 2rem auto;
  font-weight: 800;
}

p {
  color: var(--grey-color);
  letter-spacing: var(--leading, 0.025em);
  line-height: 1.625;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.flex-space-between {
  justify-content: space-between;
}

.flex button {
  margin: 8px auto;
}

.link {
  text-decoration: none;
  color: white;
}

.compraTicket {
  display: flex;
  align-items: center;
  padding: 5%;
  margin-left: 10%;
}

@media (min-width: 600px) and (max-width: 1020px) {
  .container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 50% 40% 10%;
  }

  .main div.card-info-event-main h5 {
    font-size: 1.5rem;
  }

  .card-info-event-main div.card-internal-info-row p {
    font-size: 1rem;
  }

  .img-group-card {
    margin-top: 0.65%;
  }

  .main-image-group {
    margin-right: 2.7%;
    width: 15%;
  }

  .card-info-event-main {
    padding-bottom: 2.5%;
  }

  .main div h5 {
    font-size: 1.5rem;
  }

  .main div p.dm-sans-normal {
    font-size: 1rem;
  }

  .map {
    height: 150%;
  }

  .card-internal-info-row div h4{
    font-size: 1.6rem;
  }

  .card-internal-info-row div h6{
    font-size: 1.1rem;
  }

  button{
    width: calc(50px * var(--ratio));
    height: 50px;
    font-size:  1.4rem;
  }

  dialog{
    max-width: 500px;
  }

  .h2{
    font-size: 2rem;
  }
  
  p#dialog_description{
    font-size: 1.5rem;
    margin-bottom: 2%;
  }

  button#close_dialog{
    font-size: 1.6rem;
  }

  button#confirm_dialog{
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 70% 20% 10%;
    grid-template-areas:
      "header header header "
      "main main main "
      "footer footer footer";
  }

  .details-header-button-back{
    margin: 3.5% auto auto 3.5%;
  }

  .details-header-options-button{
    margin: 4.1% 4% auto auto ;
  }

  div.card-info-event-main{
    width: 80%;
    top: -25%;
  }

  .main div.card-info-event-main h5 {
    font-size: 2rem;
  }

  .card-info-event-main div.card-internal-info-row p {
    font-size: 1.4rem;
  }

  .img-group-card {
    margin-top: 0.25%;
  }

  .main-image-group {
    margin-right: 2.7%;
    width: 13.5%;
  }

  .card-info-event-main {
    padding-bottom: 2.2%;
  }

  .main div h5 {
    font-size: 2rem;
  }

  .main div p.dm-sans-normal {
    font-size: 1.4rem;
  }

  .map {
    height: 200%;
    margin-bottom: 15%;
  }

  .card-internal-info-row div h4{
    font-size: 1.9rem;
  }

  .card-internal-info-row div h6{
    font-size: 1.4rem;
  }

  div.footer{
    padding: 0.1%;
    height: 9.2vh;
  }

  dialog{
    max-width: 650px;
  }

  button{
    width: calc(50px * var(--ratio));
    height: 50px;
    font-size:  1.4rem;
  }

  .flex button{
    margin: 10px 1.4rem;
  }

  .h2{
    font-size: 2.2rem;
  }

  p#dialog_description{
    font-size: 1.7rem;
    margin-bottom: 2%;
  }

  button#close_dialog{
    font-size: 1.6rem;
  }

  button#confirm_dialog{
    font-size: 1.6rem;
  }
}