.dm-sans-normal {
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.dm-sans-lighter {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.inter-lighter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

