@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll; /* Permite el desplazamiento vertical */
  scrollbar-width: none; /* Firefox: Oculta la barra de desplazamiento */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
}

body::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 31% 34% 33%;
    width: 100vw;
    height: 100vh;
    row-gap: 40px;
    margin: 43px 0px 35px 0px;
    overflow-y: scroll; /* Permite el desplazamiento vertical */
  scrollbar-width: none; /* Firefox: Oculta la barra de desplazamiento */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
}

.container::-webkit-scrollbar{
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-left: 20px;
    padding-right: 21px;
    grid-area: header;
}

.menuLines{
    width: 32px;
    height: 32px;
}

.headerMenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: 14.718%;
    margin-bottom: 5.8%;
}

.dropdown-area {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
z-index: 3;
}

.notify-button {
    background-color: #ffffff;

    width: 34px;
    height: 34px;

    border-radius: 3.5rem;

    display: flex;

    align-items: center;
    justify-content: center;

    align-self: flex-end;

    cursor: pointer;

    transition: all 0.2s ease;

    box-shadow:
    0 1.1px 2.2px rgba(0, 0, 0, 0.014),
    0 2.7px 5.3px rgba(0, 0, 0, 0.02),
    0 5px 10px rgba(0, 0, 0, 0.025),
    0 8.9px 17.9px rgba(0, 0, 0, 0.03),
    0 16.7px 33.4px rgba(0, 0, 0, 0.036),
    0 40px 80px rgba(0, 0, 0, 0.05);
}

.active {
    background-color: #6a1b9a;
}

.active svg {
    fill: #ffffff;
    stroke: #ffffff;
}

.notify-area {
    background-color: #ffffff;

    border-radius: 0.3rem;

    display: flex;
    flex-direction: column;

    margin-top: 0.5rem;

    box-shadow:
    0 1.1px 2.2px rgba(0, 0, 0, 0.014),
    0 2.7px 5.3px rgba(0, 0, 0, 0.02),
    0 5px 10px rgba(0, 0, 0, 0.025),
    0 8.9px 17.9px rgba(0, 0, 0, 0.03),
    0 16.7px 33.4px rgba(0, 0, 0, 0.036),
    0 40px 80px rgba(0, 0, 0, 0.05);

    visibility: hidden;

    transition: visibility 0.2s ease-in;
    width: auto;
}

.notify-area li {
    list-style: none;
    padding: 1rem 2rem;

    transition: background-color 0.1s ease;
}

.notify-area li:first-child {
    border-radius: 0.3rem 0.3rem 0 0;
}

.notify-area li:last-child {
    border-radius: 0 0 0.3rem 0.3rem;
}

.notify-area li:hover {
    background-color: #eaeaea;
}

.tMorado{
    color: #761CBC;
}

.header h1.title{
    font-size: 2rem;
    font-weight: bold;
}

.search-box{
    margin-top: 1.5%;
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
    height: fit-content;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.3)
    0px 8px 24px;
}

.row{
    display: flex;
    align-items: center;
    padding: 3.45%;
}

.search-logo{
    margin-right: 3.45%;
}

button{
    background: transparent;
    border: 0;
    outline: 0;
}

input {
    flex: 1;
    max-height: 2.5rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #27292B;
}

.search-box svg {
    stroke: #27292B;
}

.results{
    max-height: 20rem;
    overflow-y: auto;
}

.results ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.25rem;
}

.carousel {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    height: 13.2%;
    overflow: hidden;
    overflow-x: scroll;
    
    & > .carousel-item {
      flex: 1;
      min-width: auto;
      margin: 0 3.442%;
      border-radius:8px;
      padding: 1.87% 1.722%;
      white-space: nowrap;
    }

    .item-carousel-1{
        background-color: #EDE9FF;
    }
    .item-carousel-2{
        background-color: #FFF5D7;
    }
    .item-carousel-3{
        background-color: #FFECEC;
    }
    .item-carousel-4{
        background-color: #E4FFEA;
    }
}

div.carousel-item h5 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 16px;
    padding-left: 20px;
    padding-right: 21px;
    grid-area: main;
}

.tittle-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.tittle-main h5{
    color: #333333;
}

.carousel-Events{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    overflow-x: scroll;
    

    & > .carousel-item-events {
        flex: 1;
        min-width: 96.1%;
        margin: 0 3.442%;
        border-radius:12px;
        padding: 1.87% 1.722%;
        background-repeat: no-repeat;
        background-size: cover;
      }

    .event-1{
        background-image: url(../images/Event-1.svg);

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        overflow-x: hidden;

    }

    .event-2{
        background-image: url(../images/Event-2.svg);

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        overflow-x: hidden;
    }
}

.event-info{
    width: 98%;
    height: 50%;
    border-radius: 10px;
    background-color: #2D264B80;
    backdrop-filter: blur(14px);
    display: flex;
    flex-direction: row;
    color: #FFFFFF;

}

.color-event-info-2{
    background-color: #2D264B80 ;
}

.info-left{
    display: flex;
    flex-direction: column;
    height: auto;
    flex-basis: 60%;
    white-space: nowrap;
    justify-content:space-evenly;
    margin-left: 3%;
}

.info-left-logo{
    height: 9px;
    margin-right: 8px;
}

.info-right{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    height: auto;
    white-space: nowrap;
    justify-content:center;
    margin-right: 3%;
}

div.info-right div p{
    font-size: 10px;
}

div.info-right div h3{
    font-weight: semi-bold;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-left: 20px;
    padding-right: 21px;
    grid-area: footer;
}

.ft{
    margin-bottom: 12px;
}

.carousel-Events-ft{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    overflow-x: scroll;

    & > .carousel-item-events-near{
        flex: 1;
        min-width: 49.2%;
        border-radius:8px;
        padding: 1.87% 2.295%;
        margin: 0 2.295%;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .event-ft{
        display: flex;
        flex-direction: column;
        align-items: justify;
        justify-content: center;
        overflow-x: hidden;
    }

    div.carousel-item-events-near img{
        margin-bottom: 6%;
    }

    div.carousel-item-events-near p{
        font-size: 10px;
    }

    .location-ft{
        height: 10px;
        align-items: center;
    }

    .price{
        font-size: 12px;
        color: #EC441E;
    }

    div.row-ft-near img.icon{
        margin-bottom: 0;
        margin-right: 8px;
    }

    .row-ft-near{
        display: flex;
        align-items: center;
        padding: 1.725%;
        
    }
}

@media (max-height: 844px){
    div.carousel{
        margin-top: 2.5%;

        & > .carousel-item{
            padding: 5% 1.722;
        }
    }
}

@media (min-width: 600px) and (max-width: 1020px){
    .container {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 29% 34% 35%;
        width: 100vw;
        height: 100vh;
        row-gap: 38px;
        margin: 43px 0px 35px 0px;
    }

    .menuLines{
        width: 40px;
        height: 40px;
    }

    .headerMenu{
        margin-bottom: 2%;
    }

    .notify-button{
        width: 43px;
        height: 43px;
    }

    .header h1.title{
        font-size: 2.5rem;
    }

    input{
        font-size: 1.3rem;
    }

    div.carousel{
        margin-top: 3%;

        & > .carousel-item{
            margin: 0 3%;
        }
    }

    div.carousel-item h5{
        font-size: 1.15rem;
    }

    div.tittle-main h3{
        font-size: 1.5rem;
    }

    div.tittle-main h5{
        font-size: 1.2rem;
    }

    .event-info{
        width: 92%;
    }

    div.info-left h6{
        font-size: 1.15rem;
    }

    div.info-right div p{
        font-size: 1.1rem;
    }

    div.info-right div h3{
        font-size: 1.7rem;
    }

    .carousel-Events-ft{
        & > .carousel-item-events-near{
            min-width: 43%;
        }

        .price{
            font-size: 0.9rem;
        }
    }

    div.carousel-item-events-near h6{
        font-size: 1.15rem;
    }

    div.carousel-item-events-near p#text-ft{
        font-size: 1rem;
    }

    div.row-ft-near img.icon{
        width: 16px;
    }
}

@media (min-width: 1024px) {
    .container{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 24.5% 40% 42.5%;
        grid-template-areas:
            "header header header "
            "main main main "
            "footer footer footer";
        width: 100vw;
        height: 100%;
        row-gap: 35px;
        overflow-y: scroll;
  scrollbar-width: none; /* Firefox: Oculta la barra de desplazamiento */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
    }

    .container::-webkit-scrollbar{
        display: none;
    }

    .header{
        width: 100%;
        height: auto;
        padding-left: 4%;
        padding-right: 4%;
    }

    .menuLines{
        width: 45px;
        height: 45px;
    }

    div.headerMenu{
        margin-bottom: 0%;
    }

    .notify-button{
        width: 50px;
        height: 50px;
    }

    .header h1.title{
        font-size: 2.9rem;
    }

    input{
        font-size: 1.5rem;
    }

    img.search-logo{
        width: 20px;
    }

    img.filters-logo{
        width: 20px;
    }

    div.search-box div.row{
        padding: 0.8%;
    }

    .carrusel::-webkit-scrollbar {
        display: none; /* Oculta la barra de desplazamiento en WebKit (Chrome, Safari) */
    }

    div.carousel{
        margin-top: 2%;
        height: 19%;
        scrollbar-width: none; /* Firefox: Oculta la barra de desplazamiento */
  -ms-overflow-style: none; /* Internet Explorer y Edge */


        & > .carousel-item{
            height: auto;
            margin: 0 3%;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1% 0.5%;
        }

        div.carousel-item h5{
            font-size: 1.2rem;
            margin: 0 auto;
            justify-content: center;
            transform: translateY(0%);
            position: relative;
            top: 0%;
        }
    }

    .main{
        width: 100%;
        height: 100%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .footer{
        width: 100%;
        height: 110%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .headerMenu{
        margin-bottom: 2%;
    }

    div.tittle-main h3{
        font-size: 1.8rem;
    }

    div.tittle-main h5{
        font-size: 1.4rem;
    }

    div.carousel-Events{
        scrollbar-width: none; /* Firefox: Oculta la barra de desplazamiento */
  -ms-overflow-style: none; /* Internet Explorer y Edge */

    & > .carousel-item-events {
        min-width: 90%;
    }
    }

    div.event-info{
        width: 94%;
    }

    div.info-left h6{
        font-size: 1.2rem;
    }

    div.info-right div p{
        font-size: 1.1rem;
    }

    div.info-right div h3{
        font-size: 1.8rem;
    }

    div.carousel-Events-ft{
        scrollbar-width: none; /* Firefox: Oculta la barra de desplazamiento */
        height: auto;
  -ms-overflow-style: none; /* Internet Explorer y Edge */
        & > .carousel-item-events-near{
            min-width: 50%;
            padding-top: 0%;
            padding-right: 0%;
            margin-right: 0%;
        }
        
        img.image-event-near-me{
            width: 65%;
            margin-bottom: 2%;
            margin-top: 4%;
        }

        div.price{
            font-size: 1rem;
        }

        div.carousel-item-events-near h6{
            font-size: 1.2rem;
        }

        div.carousel-item-events-near p#text-ft{
            font-size: 1rem;
        }

        div.row-ft-near img.icon{
            width: 20px;
        }
    }
}