@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(to bottom right, #DEFDFF, #FFB9EB);
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
    height: 100%;
    margin: 13% auto 13% auto;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    grid-area: header;
    width: auto;
    height: 15vh;
    margin: 1rem auto;
    color: #A626B1;
    overflow: visible;
    background:url(../images/figmaLogo.png) no-repeat center center;
    background-size: contain;
}

.header img.ornament_Top{
    position: fixed;
    top: -22%;
    left: -32%;
    z-index: 1;
}

.header img.ornament_Bot{
    position: fixed;
    bottom: -22%;
    left: -32%;
    z-index: 1;
}

.main {
    display: flex;
    grid-area: main;
    width: 100vw;
    height: 70vh;
    object-fit: contain;
}

.header h1{
    text-shadow: 0px 20px 2px #a526b171;
    font-size: 3rem;
    z-index: 3;
}

.header h3{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    z-index: 3;
}

.img_Iphone1{
    width: 45%;
    rotate: -9.2deg;
    position: absolute;
    left: 65%;
    z-index: 3;
}

.img_Iphone2{
    width: 45%;
    rotate: -31.2deg;
    position:  absolute;
    left: 40%;
    z-index: 2;
    top: 26.5%;
}

.img_Iphone3{
    width: 45%;
    rotate: -57deg;
    position: absolute;
    left: 26%;
    z-index: 1;
    top:34%
}

.footer {
    display: flex;
    flex-direction: row;
    grid-area: footer;
    height: 15vh;
    margin: 1% auto;
    z-index: 3;
}

.footer img{
    width: 40px;
    height: 40px;
    margin: auto 1rem;
}

.footer a{
    text-decoration: none;
    font-size: 2rem;
    justify-content: center;
    color: #1F85DE;
    margin: auto auto;
}

@media (min-width: 600px) and (max-width: 1020px){
    .container {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100vw;
        height: 100%;
        margin: 1rem auto;
    }
    .header h1{
        text-shadow: 0px 28.5px 2px #a526b171;
        font-size: 4rem;
    }
    
    .header h3{
        margin-top: 1rem;
        font-size: 3rem;
        font-weight: 600;
    }

    .header img.ornament_Top{
        position: fixed;
        top: -13%;
        left: -13%;
        z-index: 1;
    }
    
    .header img.ornament_Bot{
        position: fixed;
        bottom: -10%;
        left: -10%;
        z-index: 1;
    }
    

    .footer {
        height: 15vh;
    }

    .footer a{
        font-size: 3rem;
    }

    .img_Iphone1, .img_Iphone2, .img_Iphone3{
        width: 37%;
    }

    .img_Iphone2{
        top: 22%;
        left: 43%;
    }

    .img_Iphone3{
        top: 32%;
        left: 28%;
    }
}

@media (min-width: 1024px) {
    .container{
        display: grid;
        grid-template-columns: repeat(5, 20%); /* 5 columnas iguales */
        grid-template-rows: repeat(3, 33%); /* 3 filas */
        grid-template-areas:
            "header header main main main "
            "header header main main main "
            "footer footer main main main ";
        width: 100%;
        height: 100vh;
        margin: 5% auto 5% auto;
    }

    .header {
        grid-area: header; /* Ocupa las dos primeras columnas y las dos primeras filas */
        display: flex;
        grid-column: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
        margin-bottom: auto;
        margin-left: 50%;
    }

    .header h1{
        font-size: 7rem;
        text-shadow: 0px 49px 2px #a526b171;
    }

    .header h3{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .header img.ornament_Top{
        position: fixed;
        top: -9%;
        left: -8%;
        z-index: 1;
    }
    
    .header img.ornament_Bot{
        position: fixed;
        bottom: -9%;
        left: -8%;
        z-index: 1;
    }    

    .main {
        grid-area: main; /* Ocupa las columnas 3 a 5 y desde la fila 1 a la 3 */
        display: flex;
        grid-column: auto;
        justify-content: center;
        align-items: center;
    }

    .img_Iphone1, .img_Iphone2, .img_Iphone3{
        width: 24.5%;
        position: relative;
        top: 61.5%;
        transform: translate(-50%, -50%);
    }
    .img_Iphone1{
        left: 65%;
    }
    .img_Iphone2{
        left: 34%;
        top:52.5%;
    }

    .img_Iphone3{
        left: 3%;
        top: 43%;
    }

    .footer {
        grid-area: footer; /* Ocupa las dos primeras columnas de la tercera fila */
        display: flex;
        
        justify-content: center;
        align-items: center;
        grid-column: auto;
        margin-top: 30%;
        margin-left: 50%;
    }

    .footer a{
        font-size: 3rem;
    }
}