@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-size: 16px;
  }

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 80vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    grid-area: header;
    width: auto;
    height: 25vh;
    margin: 1rem auto 1rem 5rem;
}
.main {
    display: flex;
    grid-area: main;
    width: 100vw;
    height: 60vh;
    object-fit: contain;
}

.img_Iphone1{
    width: 45%;
    rotate: -9.2deg;
    position: absolute;
    left: 65%;
    z-index: 3;
}

.img_Iphone2{
    width: 45%;
    rotate: -31.2deg;
    position: absolute;
    left: 40%;
    z-index: 2;
    top: 34.5%;
    object-fit: cover;
}

.img_Iphone3{
    width: 45%;
    rotate: -49.2deg;
    position: absolute;
    left: 40%;
    z-index: 1;
}

.footer {
    display: flex;
    flex-direction: row;
    grid-area: footer;
    height: auto;
    margin: 1rem auto;
    z-index: 3;
}

.footer img{
    width: 40px;
    height: 40px;
}

.footer a{
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    color: #1F85DE;
    margin: auto auto;
}
